<div id="av_ContainerNode" data-dojo-attach-point="av_ContainerNode" class="adminWidget">
	<div id="av_view_1" data-dojo-attach-point="av_view_1" class="viewPane hidePage" >
        <div id="av_v1_toolbar">
            <div data-menu="editsites" class='editToolButton btnEditSiteIcon hidePage' title='Edit Sites'></div>
            <div data-menu="approvesites" class='editToolButton btnApproveIcon hidePage' title='Approve Sites'></div>
		</div>
        <div class="padContainer">
        <div class="cfgMenu" id="av_cfgMenu">
            <span tabindex="0" data-layer="unsubmitted" class="mapButton buttonLeft buttonSelected" title="Draft">Draft</span><span tabindex="0" data-layer="submitted" class="mapButton buttonRight" title="Waiting Approval">Waiting Approval</span> 
        </div>
        <div class="Pad ">
        <div class="clear"></div>

            <div class="cfgPanel" data-layer="unsubmitted" style="display: block;">
                <div data-dojo-attach-point="av_gridDiv" id="av_gridDiv" style="margin-top: 5px;"></div>

            </div>
            <div class="cfgPanel" data-layer="submitted" style="display: none;">
                <div data-dojo-attach-point="av_gridSubmitted" id="av_gridSubmitted" style="margin-top: 5p;x"></div>
            </div>

        </div>
        </div>

	</div>
	<div id="av_view_2" data-dojo-attach-point="av_view_2" class="viewPane hidePage">
        <div id="av_v2_toolbar">
            <div data-menu="save" class='editToolButton btnSaveIcon' title='Save'></div>
            <div data-menu="publish" class='editToolButton btnSciaaIcon' title='Send to SCIAA'></div>
            <div data-menu="cancel" class='editToolButton btnCancelIcon' title='Cancel'></div>
		</div>
                
        <div id="av_pgContainer">
       
       <div class='toolPanel'><span class="header">Draw Site</span> 
            <div style="margin-left: 5px; width: 100%">
                <div id="av_v2_btnGeo" class='geoToolButton btnGeoNew' title='Add New Site Boundary'></div>
                <div id="av_v2_btnSaveGeo" class='geoToolButton btnGeoSave hidePage' title='Save Site Boundary'></div>
                <div id="av_v2_btnCancel" class='geoToolButton btnGeoCancel hidePage' title='Cancel Site Boundary'></div>
                <div id="av_v2_iconSave" class="iconInvalidSite" title="Please define a valid site"></div>
                <div class="clear"></div>
            </div>
        </div>
           
   
        <div class='toolPanel siteForm'><span class="header">Site Form</span>
        <div id="av_pg_1" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="av_pg_1" class="formPage">

               <label>County: </label><select data-dojo-type="dijit/form/Select" data-dojo-props="maxHeight:150" id="av_COUNTY" name="av_COUNTY" class="formSpace" style="width: 105px;">
                    <option value="ABBEVILLE">ABBEVILLE</option>
                    <option value="AIKEN">AIKEN</option>
                    <option value="ALLENDALE">ALLENDALE</option>
                    <option value="ANDERSON">ANDERSON</option>
                    <option value="BAMBERG">BAMBERG</option>
                    <option value="BARNWELL">BARNWELL</option>
                    <option value="BEAUFORT">BEAUFORT</option>
                    <option value="BERKELEY">BERKELEY</option>
                    <option value="CALHOUN">CALHOUN</option>
                    <option value="CHARLESTON">CHARLESTON</option>
                    <option value="CHEROKEE">CHEROKEE</option>
                    <option value="CHESTER">CHESTER</option>
                    <option value="CHESTERFIELD">CHESTERFIELD</option>
                    <option value="CLARENDON">CLARENDON</option>
                    <option value="COLLETON">COLLETON</option>
                    <option value="DARLINGTON">DARLINGTON</option>
                    <option value="DILLON">DILLON</option>
                    <option value="DORCHESTER">DORCHESTER</option>
                    <option value="EDGEFIELD">EDGEFIELD</option>
                    <option value="FAIRFIELD">FAIRFIELD</option>
                    <option value="FLORENCE">FLORENCE</option>
                    <option value="GEORGETOWN">GEORGETOWN</option>
                    <option value="GREENVILLE">GREENVILLE</option>
                    <option value="GREENWOOD">GREENWOOD</option>
                    <option value="HAMPTON">HAMPTON</option>
                    <option value="HORRY">HORRY</option>
                    <option value="JASPER">JASPER</option>
                    <option value="KERSHAW">KERSHAW</option>
                    <option value="LANCASTER">LANCASTER</option>
                    <option value="LAURENS">LAURENS</option>
                    <option value="LEE">LEE</option>
                    <option value="LEXINGTON">LEXINGTON</option>
                    <option value="MARION">MARION</option>
                    <option value="MARLBORO">MARLBORO</option>
                    <option value="MCCORMICK">MCCORMICK</option>
                    <option value="NEWBERRY">NEWBERRY</option>
                    <option value="OCONEE">OCONEE</option>
                    <option value="ORANGEBURG">ORANGEBURG</option>
                    <option value="PICKENS">PICKENS</option>
                    <option value="RICHLAND">RICHLAND</option>
                    <option value="SALUDA">SALUDA</option>
                    <option value="SPARTANBURG">SPARTANBURG</option>
                    <option value="SUMTER">SUMTER</option>
                    <option value="UNION">UNION</option>
                    <option value="WILLIAMSBURG">WILLIAMSBURG</option>
                    <option value="YORK">YORK</option>
                </select><br />

            <label>Recorded By: </label><input data-dojo-type="dijit/form/TextBox" id="av_RECORDEDBY" name="av_RECORDEDBY" class="formSpace" /><br />
            <label>Affiliation: </label><input data-dojo-type="dijit/form/TextBox" id="av_AFFILIATION" name="av_AFFILIATION" class="formSpace"  /><br />
            <label>Date: </label><input data-dojo-type="dijit/form/DateTextBox" id="av_RECORDEDDATE" name="av_RECORDEDDATE" class="formSpace" style="width:150px;" /><br />

            <label>Site name: </label><input data-dojo-type="dijit/form/TextBox" id="av_SITENAME" name="av_SITENAME" class="formSpace"  /><br />
            <label class="required">Project: </label><input data-dojo-type="dijit/form/TextBox" id="av_PROJECT" name="av_PROJECT" class="formSpace" style="width: 200px"/><br />
            <label>USGS Quadrangle: </label><input data-dojo-type="dijit/form/TextBox" id="av_USGSQUADRANGLE" name="av_USGSQUADRANGLE" class="formSpace"  /><br />
            <label>UTM Zone: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_UTMZONE" name="av_UTMZONE" class="formSpace" style="width:35px;" /><br />
            <label class="required">Easting: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_GPSEASTING" name="av_GPSEASTING" class="formSpace" style="width:100px;" /><br />
            <label class="required">Northing: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_GPSNORTHING" name="av_GPSNORTHING" class="formSpace" style="width:100px;" /><br />
            <label>Other map reference: </label><br />
            <textarea data-dojo-type="dijit/form/SimpleTextarea" id="av_OTHERMAPREFNOTES" name="av_OTHERMAPREFNOTES" rows="4" cols="50" class="formSpace" ></textarea><br />
      
            <label class="groupHeading">Descriptive site type: </label><br />
            <label>Prehistoric:</label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_DST_PREHISTORIC" name="av_DST_PREHISTORIC" ></textarea><br />
            <label>Historic:</label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_DST_HISTORIC" name="av_DST_HISTORIC"  ></textarea><br />
            

            <span class="required formSpaceTop">Descriptive site type (see handbook)</span><br />
            <div id="av_chks_dst">
            <input id="av_AI_SURVEY" name="av_AI_SURVEY" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;" /> <label for="AI_SURVEY">Survey</label><br />
            <input id="av_AI_TESTING" name="av_AI_TESTING" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;" /> <label for="AI_TESTING">Testing</label><br />
            <input id="av_AI_EXCAVATION" name="av_AI_EXCAVATION" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;" /> <label for="AI_EXCAVATION">Excavation</label><br />
            </div>
                <label>Property Owner: </label><input data-dojo-type="dijit/form/TextBox" id="av_PROPERTYOWNER" name="av_PROPERTYOWNER" class="formSpace" /><br />
            <label>Phone Number: </label><input data-dojo-type="dijit/form/ValidationTextBox" id="av_PHONENUMBER" name="av_PHONENUMBER" class="formSpace" style="width:150px;" data-dojo-props="regExp:'[\\w]+', invalidMessage:'Invalid Non-Space Text.'" /><br />
            <label>Address: </label><input data-dojo-type="dijit/form/TextBox" id="av_ADDRESS" name="av_ADDRESS" class="formSpace"  /><br />
            <label>Other site designations: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_OTHERSITEDESIGNATIONS" name="av_OTHERSITEDESIGNATIONS" ></textarea><br />

            <span class="required formSpaceTop">National Register of Historic Places recommendation: </span><br />
            <div id="av_chks_nr">
            <input id="av_NRHP_ELIGIBLE" name="av_NRHP_ELIGIBLE" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;"/> <label for="NRHP_ELIGIBLE">Eligible</label><br />
            <input id="av_NRHP_NONELIGIBLE" name="av_NRHP_NONELIGIBLE" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;"/> <label for="NRHP_NONELIGIBLE">Not eligible</label><br />
            <input id="av_NRHP_ADDWORK" name="av_NRHP_ADDWORK" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;"/> <label for="NRHP_ADDWORK">Additional Work</label><br />
                </div>
            <label style="margin-top: 5px;">Level of significance: </label><br />
            <input id="av_LOS_NATIONAL" name="av_LOS_NATIONAL" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;"/> <label for="LOS_NATIONAL">National</label><br />
            <input id="av_LOS_STATE" name="av_LOS_STATE" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;"/> <label for="LOS_STATE">State</label><br />
            <input id="av_LOS_LOCAL" name="av_LOS_LOCAL" data-dojo-type="dijit/form/CheckBox" value="Y" style="margin:2px;"/> <label for="LOS_LOCAL">Local</label><br />

            <label>Justification: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_JUSTIFICATION" name="av_JUSTIFICATION" ></textarea>
        </div>
        <div id="av_pg_2" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="av_pg_2" class="formPage hidePage">
                <label>General physiographic province: </label>
                <select data-dojo-type="dijit/form/Select" id="av_PROVINCE" name="av_PROVINCE" class="formSpace" style="width: 135px;" >
                    <option value="0">Lower Coastal Plain</option>
                    <option value="1">Middle Coastal Plain</option>
                    <option value="2" >Upper Coastal Plain</option>
                    <option value="3">Piedmont</option>
                    <option value="4">Blue Ridge Mountains</option>
                </select><br />
            

            <label class="required">Landform Location: </label><input data-dojo-type="dijit/form/TextBox" id="av_LANDFORMLOCATION" name="av_LANDFORMLOCATION" class="formSpace" /><br />
            <label>Site elevation (above MSEL): </label><input data-dojo-type="dijit/form/TextBox" id="av_SITEELEVATION" name="av_SITEELEVATION" class="formSpace" style="width:50px;" /><label>(in feet)</label><br />
            <label>On site soil type: </label>
                <select data-dojo-type="dijit/form/Select" id="av_SOILTYPE" name="av_SOILTYPE" class="formSpace" style="width: 100px;" >
                    <option value="0">Clay</option>
                    <option value="1">Clay/Loam</option>
                    <option value="2">Silty/Clay</option>
                    <option value="3">Sandy/Clay/Loam</option>
                    <option value="4">Sandy/Loam</option>
                    <option value="5">Sand</option>
                    <option value="6">Silt</option>
                    <option value="7">Silty/Loam</option>
                    <option value="8">Sandy/Clay</option>
                    <option value="9">Silty/Clay/Loam</option>
                    <option value="10">Loam</option>
                    <option value="11">Loam/Sand</option>
                    <option value="12">Gravel</option>
                    <option value="13">Organic</option>
                    <option value="14">Other</option>
                </select><br />
            
            <label>Soil Classification: </label><input data-dojo-type="dijit/form/TextBox" id="av_SOILCLASSIFICATION" name="av_SOILCLASSIFICATION" class="formSpace" style="width: 200px;" /><br />
            <label>Major River System: </label><br />
                <select data-dojo-type="dijit/form/Select" id="av_MAJORRIVER" name="av_MAJORRIVER" class="formSpace" style="width: 150px;" >
                    <option value="0">Pee Dee</option>
                    <option value="1">Santee</option>
                    <option value="2" >Ashley-Combahee-Edisto</option>
                    <option value="3">Savannah</option>
                </select><br />
            
            <label class="required">Nearest River/stream: </label><input data-dojo-type="dijit/form/TextBox" id="av_NEARESTRIVERSTREAM" name="av_NEARESTRIVERSTREAM"  class="formSpace" /><br />

            <span class="required formSpaceTop">Current vegetation: </span><br />
            <div id="av_chks_cv">
            <input id="av_CV_PINECONF" name="av_CV_PINECONF" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_PINECONF">Pine/coniferous</label><br />
            <input id="av_CV_HARDWOOD" name="av_CV_HARDWOOD" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_HARDWOOD">Hardwood</label><br />
            <input id="av_CV_MIXEDPINEHW" name="av_CV_MIXEDPINEHW" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_MIXEDPINEHW">Mixed pine/hardwood</label><br />
            <input id="av_CV_OLDFIELD" name="av_CV_OLDFIELD" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_OLDFIELD">Old Field</label><br />
            <input id="av_CV_GRASSPASTURE" name="av_CV_GRASSPASTURE" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_GRASSPASTURE">Grass Pasture</label><br />
            <input id="av_CV_AGRICULTURE" name="av_CV_AGRICULTURE" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_AGRICULTURE">Agricultural/crops</label><br />
            <input id="av_CV_WETLANDSFRESHWAT" name="av_CV_WETLANDSFRESHWAT" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_WETLANDSFRESHWAT">Wetlands/freshwater</label><br />
            <input id="av_CV_WETLANDSSALTWAT" name="av_CV_WETLANDSSALTWAT" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_WETLANDSSALTWAT">Wetlands/saltwater</label><br />
            <input id="av_CV_OTHER" name="av_CV_OTHER" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CV_OTHER">Other</label><br />
            </div>
                <label class="formSpaceTop">Comments: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_VEGCOMMENTS" name="av_VEGCOMMENTS" class="formSpace" ></textarea><br />
            

            <label>Description of Ground Cover: </label><br />
                <select data-dojo-type="dijit/form/Select" id="av_COVERTYPE" name="av_COVERTYPE" class="formSpace" style="width: 75px;" >
                    <option value="0">Absent</option>
                    <option value="1">Light</option>
                    <option value="2" >Moderate</option>
                    <option value="3">Heavy</option>
                </select><br />
            
       </div>
        <div id="av_pg_3" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="av_pg_3" class="formPage hidePage">
            <label>Estimated site dimensions: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_SITELENGTH" name="av_SITELENGTH" class="formSpace" style="width:75px;" /><br />
            <label>meters by: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_SITEWIDTH" name="av_SITEWIDTH" class="formSpace" class="formSpace" style="width:75px;" /><label>meters</label><br />
            <label class="required">Site depth: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_SITEDEPTH" name="av_SITEDEPTH" class="formSpace" style="width:75px;" /><label>cm.</label><br />
            <label>Cultural Features: </label><br />
            <textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_CULTURALFEATURES" name="av_CULTURALFEATURES" class="formSpace" ></textarea><br />
            
            <label>Presence of: </label><br />
            <input id="av_NH_MIDDEN" name="av_NH_MIDDEN" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="NH_MIDDEN">Midden</label><br />
            <input id="av_NH_FLORAL" name="av_NH_FLORAL" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="NH_FLORAL">Floral Remains</label><br />
            <input id="av_NH_FAUNA" name="av_NH_FAUNA" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="NH_FAUNA">Faunal Remains</label><br />
            <input id="av_NH_SHELL" name="av_NH_SHELL" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="NH_SHELL">Shell</label><br />
            <input id="av_NH_CHARCOAL" name="av_NH_CHARCOAL" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="NH_CHARCOAL">Charcoal</label><br />
            

            <label>Human skeletal remains: </label>
                <select data-dojo-type="dijit/form/Select" id="av_HUMANREMAINS" name="av_HUMANREMAINS" class="formSpace" style="width: 100px;" >
                    <option value="0">Present</option>
                    <option value="1">Absent</option>
                    <option value="2" >Unknown</option>
                </select><br />
            <label>Human skeletal preservation: </label>
                <select data-dojo-type="dijit/form/Select" id="av_HUMANREMAINSPRESERVATION" name="av_HUMANREMAINSPRESERVATION" class="formSpace" style="width: 100px;" >
                    <option value="1">Good</option>
                    <option value="0">Poor</option>
                    <option value="2" >Unknown</option>
                </select><br />
           

            <label class="required">General Site Description: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_GENERALSITEDESCRIPTION" name="av_GENERALSITEDESCRIPTION" class="formSpace"></textarea> <br />
            <span class="formSpaceTop">Location Description: </span><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_LOCATIONDESCRIPTION" name="av_LOCATIONDESCRIPTION" class="formSpace" ></textarea> <br />

        </div>
        <div id="av_pg_4" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="av_pg_4" class="formPage hidePage">
            <label class="required">Archaeological Components: </label><br />
            <div id="av_chks_ac">
            <input id="av_ARC_PALEO" name="av_ARC_PALEO" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_PALEO">Paleo Indian</label><br />
            <input id="av_ARC_EARLYARCHAIC" name="av_ARC_EARLYARCHAIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_EARLYARCHAIC">Early Archaic</label><br />
           <input id="av_ARC_MIDDLEARCHAIC" name="av_ARC_MIDDLEARCHAIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_MIDDLEARCHAIC">Middle Archaic</label><br />
            <input id="av_ARC_LATEARCHAIC" name="av_ARC_LATEARCHAIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_LATEARCHAIC">Late Archaic</label><br />
            <input id="av_ARC_EARLYWOODLAND" name="av_ARC_EARLYWOODLAND" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_EARLYWOODLAND">Early Woodland</label><br />
            <input id="av_ARC_MIDDLEWOODLAND" name="av_ARC_MIDDLEWOODLAND" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_MIDDLEWOODLAND">Middle Woodland</label><br />  
                <input id="av_ARC_LATEWOODLAND" name="av_ARC_LATEWOODLAND" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_LATEWOODLAND">Late Woodland</label><br />
            <input id="av_ARC_MISSISSIPPIAN" name="av_ARC_MISSISSIPPIAN" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_MISSISSIPPIAN">Mississippian</label><br />
            <input id="av_ARC_UNKNOWNPREHISTORIC" name="av_ARC_UNKNOWNPREHISTORIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_UNKNOWNPREHISTORIC">Unknown Prehistoric</label><br />
            <input id="av_ARC_16CENTURY" name="av_ARC_16CENTURY" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_16CENTURY">16th Century</label><br />
                <input id="av_ARC_17CENTURY" name="av_ARC_17CENTURY" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_17CENTURY">17th Century</label><br />
            <input id="av_ARC_18CENTURY" name="av_ARC_18CENTURY" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_18CENTURY">18th Century</label><br />
            <input id="av_ARC_19CENTURY" name="av_ARC_19CENTURY" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_19CENTURY">19th Century</label><br />
            <input id="av_ARC_20CENTURY" name="av_ARC_20CENTURY" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_20CENTURY">20th Century</label><br />
            <input id="av_ARC_UNKNOWNHISTORIC" name="av_ARC_UNKNOWNHISTORIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_UNKNOWNHISTORIC">Unknown Historic</label><br />
            
                
                <!-- <input id="av_ARC_ANYWOODLAND" name="av_ARC_ANYWOODLAND" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_ANYWOODLAND">Any Woodland Period</label><br />             
                <input id="av_ARC_LATEPREHISTORIC" name="av_ARC_LATEPREHISTORIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_LATEPREHISTORIC">Late Prehistoric</label><br />              
                <input id="av_ARC_ANYARCHAIC" name="av_ARC_ANYARCHAIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_ANYARCHAIC">Any Archaic</label><br />
                <input id="av_ARC_ERAPREHISTORIC" name="av_ARC_ERAPREHISTORIC" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="ARC_ERAPREHISTORIC">Contact Era Prehistoric</label><br />
            -->
                
                     </div>
        </div>
        <div id="av_pg_5" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="av_pg_5" class="formPage hidePage">
            <label class="groupHeading">Data Recovered</label><br />
            <label>Total number of artifacts: </label><input data-dojo-type="dijit/form/NumberTextBox" id="av_TOTALARTIFACTS" name="av_TOTALARTIFACTS" class="formSpace" style="width:50px;" /><br />
            <label class="groupHeading">List materials recovered: </label>
            <div id="av_v2_pg5_btnAddItem" class='addItemButton' title='Add Item'>Add Item</div>
            <br />
            <table id="av_DataRecovered">
                <tr>
                    <th class="numColumn">Num.</th>
                    <th class="fillColumn">Data Recovered</th>
                    <th class="deleteColumn hCenterColumn"></th>
                </tr>
            </table>
            <label class="groupHeading formSpaceTop">Data Recovery Methods</label><br />
            <label>Ground surface visibility: </label><br />
            <input id="av_VIS_0" name="av_VIS_0" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="VIS_0">0%</label><br />
            <input id="av_VIS_1_25" name="av_VIS_1_25" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="VIS_1_25">1-25%</label><br />
            <input id="av_VIS_26_50" name="av_VIS_26_50" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="VIS_26_50">26-50%</label><br />
            <input id="av_VIS_51_75" name="av_VIS_51_75" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="VIS_51_75">51-75%</label><br />
            <input id="av_VIS_76_100" name="av_VIS_76_100" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="VIS_76_100">76-100%</label><br />
           
            <span class="formSpaceTop">Number of person hours spent collecting (total hours x total people): </span><input data-dojo-type="dijit/form/NumberTextBox" id="av_TOTALHOURSCOLLECTING" name="av_TOTALHOURSCOLLECTING" class="formSpace" style="width:35px;" /><br />

            <span class="groupHeading formSpaceTop">Description of surface collection methods:</span><br />
            <label>Collection Type:</label><br />
            <input id="av_CT_GRID" name="av_CT_GRID" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CT_GRID">Grid Collection</label><br />
            <input id="av_CT_CONTROLLED" name="av_CT_CONTROLLED" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CT_CONTROLLED">Controlled Sampling</label><br />
            <input id="av_CT_GRAB" name="av_CT_GRAB" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CT_GRAB">Grab Collection</label><br />
            <input id="av_CT_OTHER" name="av_CT_OTHER" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="CT_OTHER">Other</label><br />
            

            <span class="formSpaceTop">Collection Comments: </span><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_COLLECTIONCOMMENTS" name="av_COLLECTIONCOMMENTS" class="formSpace" ></textarea> <br />

            <label>Collection Extent: </label><br />
            <input id="av_COLEXT_COMPLETE" name="av_COLEXT_COMPLETE" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="COLEXT_COMPLETE">Complete</label><br />
            <input id="av_COLEXT_SELECTIVE" name="av_COLEXT_SELECTIVE" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="COLEXT_SELECTIVE">Selective</label><br />
            <input id="av_COLEXT_NO_COLLECT" name="av_COLEXT_NO_COLLECT" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="COLEXT_NO_COLLECT">No Collection Made</label><br />       

            <label>Description of testing methods: </label>
                <select data-dojo-type="dijit/form/Select" id="av_TESTINGMETHOD" name="av_TESTINGMETHOD" class="formSpace" >
                        <option value="0">Systematic</option>
                        <option value="1">Nonsystematic</option>
                </select><br />
            

            <span class="formSpaceTop">Testing Units: </span>
            <div id="av_v2_pg5_btnTuAddItem" class='addItemButton' title='Add Unit'>Add Unit</div>
            <br />
            <table id="av_TestingUnits" class="relatedTables">
                <tr>
                    <th class="menuColumn">Test Type</th>
                    <th class="numColumn">Num.</th>
                    <th class="numDblColumn">Size <br />(cm/m)</th>
                    <th class="numDblColumn">Max. Depth <br />(cm)</th>
                    <th class="fillColumn">Comment</th>
                    <th class="deleteColumn hCenterColumn"></th>
                </tr>
            </table>

            <span class="formSpaceTop">Description of excavation units: </span>
            <div id="av_v2_pg5_btnEuAddItem" class='addItemButton' title='Add Unit'>Add Unit</div>
            <br />
            <table id="av_ExcavUnits" class="relatedTables">
                <tr>
                    <th class="numColumn">Num.</th>
                    <th class="numDblColumn">Size <br />(cm/m)</th>
                    <th class="numDblColumn">Max. Depth <br />(cm)</th>
                    <th class="commentColumn">Comment</th>
                    <th class="deleteColumn hCenterColumn"></th>
                </tr>
            </table>

        </div>
        <div id="av_pg_6" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="av_pg_6" class="formPage hidePage">
            <label>Present land use: </label><br />
            <input id="av_LU_AGRICULTURE" name="av_LU_AGRICULTURE" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_AGRICULTURE">Agricultural</label><br />
            <input id="av_LU_RESIDENTIALHD" name="av_LU_RESIDENTIALHD" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_RESIDENTIALHD">Residential, high density</label><br />
            <input id="av_LU_FOREST" name="av_LU_FOREST" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_FOREST">Forest</label><br />
            <input id="av_LU_COMMERCIAL" name="av_LU_COMMERCIAL" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_COMMERCIAL">Commercial</label><br />
            <input id="av_LU_FALLOW" name="av_LU_FALLOW" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_FALLOW">Fallow</label><br />
            <input id="av_LU_INDUSTRIAL" name="av_LU_INDUSTRIAL" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_INDUSTRIAL">Industrial</label><br />
            <input id="av_LU_RESIDENTIALLD" name="av_LU_RESIDENTIALLD" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_RESIDENTIALLD">Residential, low density</label><br />
            <input id="av_LU_OTHER" name="av_LU_OTHER" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="LU_OTHER">Other</label><br />
            

            <span class="formSpaceTop">Land Use Comments: </span><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_LANDUSECOMMENTS" name="av_LANDUSECOMMENTS" class="formSpace" ></textarea><br />

            <label>Present condition of site:</label>
                <select data-dojo-type="dijit/form/Select" id="av_SITEINTEGRITY" name="av_SITEINTEGRITY" class="formSpace" style="width: 75px;">
                    <option value="0">Intact</option>
                    <option value="1">Damaged</option>
                    <option value="2">Unknown</option>
                </select><br />
            

            <label>Extent of Damage:</label>
             <select data-dojo-type="dijit/form/Select" id="av_DAMAGEEXTENT" name="av_DAMAGEEXTENT" class="formSpace"  style="width: 75px;">
                    <option value="0">Light</option>
                    <option value="1">Moderate</option>
                    <option value="2">Heavy</option>
             </select><br />
            
              
            <span class="formSpace" >Nature of Damage: </span><br />
            <input id="av_DAMAGE_EROSION" name="av_DAMAGE_EROSION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_EROSION">Erosion</label><br />
            <input id="av_DAMAGE_VANDALISM" name="av_DAMAGE_VANDALISM" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_VANDALISM">Vandalism</label><br />
            <input id="av_DAMAGE_CULTIVATION" name="av_DAMAGE_CULTIVATION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_CULTIVATION">Cultivation</label><br />
            <input id="av_DAMAGE_INUNDATION" name="av_DAMAGE_INUNDATION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_INUNDATION">Inundation</label><br />
            <input id="av_DAMAGE_LOGGING" name="av_DAMAGE_LOGGING" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_LOGGING">Logging</label><br />
            <input id="av_DAMAGE_OTHER" name="av_DAMAGE_OTHER" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_OTHER">Other</label><br />
            <input id="av_DAMAGE_CONSTRUCTION" name="av_DAMAGE_CONSTRUCTION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="DAMAGE_CONSTRUCTION">Construction/Development</label><br />
            

            <span class="formSpaceTop">Nature of Damage Comments: </span><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_DamageComments" name="av_DAMAGECOMMENTS" class="formSpace" ></textarea><br />

            <label class="groupHeading">Potential impacts and threats to site:</label><br /><label>Potential Threat:</label>
            <select data-dojo-type="dijit/form/Select" id="av_THREATPOTENTIAL" name="av_THREATPOTENTIAL" class="formSpace" style="width: 75px;">
                    <option value="0">None</option>
                    <option value="1">Low</option>
                    <option value="2">Moderate</option>
                    <option value="3">Heavy</option>
             </select><br />
                
                
            <span class="formSpaceTop" >Nature of Threat: </span><br />
            <input id="av_THREAT_EROSION" name="av_THREAT_EROSION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_EROSION">Erosion</label><br />
            <input id="av_THREAT_VANDALISM" name="av_THREAT_VANDALISM" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_VANDALISM">Vandalism</label><br />
            <input id="av_THREAT_CULTIVATION" name="av_THREAT_CULTIVATION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_CULTIVATION">Cultivation</label><br />
            <input id="av_THREAT_INUNDATION" name="av_THREAT_INUNDATION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_INUNDATION">Inundation</label><br />
            <input id="av_THREAT_LOGGING" name="av_THREAT_LOGGING" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_LOGGING">Logging</label><br />
            <input id="av_THREAT_OTHER" name="av_THREAT_OTHER" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_OTHER">Other</label><br />
            <input id="av_THREAT_CONSTRUCTION" name="av_THREAT_CONSTRUCTION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="THREAT_CONSTRUCTION">Construction/Development</label><br />
            

            <label>Nature of Threat Comments: </label><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_THREATCOMMENTS" name="av_THREATCOMMENTS" class="formSpace" ></textarea><br />

            <label class="required" class="formSpace" >Recommendations for further work: </label><br />
            <div id="av_chks_rfw">
            <input id="av_REC_SURVEY" name="av_REC_SURVEY" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="REC_SURVEY">Survey</label><br />
            <input id="av_REC_TESTING" name="av_REC_TESTING" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="REC_TESTING">Testing</label><br />
            <input id="av_REC_EXCAVATION" name="av_REC_EXCAVATION" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="REC_EXCAVATION">Excavation</label><br />
            <input id="av_REC_ARCHIVAL" name="av_REC_ARCHIVAL" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="REC_ARCHIVAL">Archival</label><br />
            <input id="av_REC_NONE" name="av_REC_NONE" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="REC_NONE">None</label><br />
            <input id="av_REC_OTHER" name="av_REC_OTHER" data-dojo-type="dijit/form/CheckBox" value="Y" /> <label for="REC_OTHER">Other</label><br />
            </div>
                <span class="formSpaceTop">Comments: </span><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_RECOMMENDCOMMENTS" name="av_RECOMMENDCOMMENTS" class="formSpace" ></textarea><br />
            

            <label>References: Historical/Archival Documentation</label><br />
                <select data-dojo-type="dijit/form/Select" id="av_HISTORICALARCHIVALDOC" name="av_HISTORICALARCHIVALDOC" class="formSpace" style="width:75px;">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                    <option value="2">Unknown</option>
             </select><br />
                
            
            <label>Comments: </label><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_HISTORICALARCHIVALDOCNOTES" name="av_HISTORICALARCHIVALDOCNOTES" class="formSpace" ></textarea><br />

            <label>Archaeological Documentation</label>
                <select data-dojo-type="dijit/form/Select" id="av_ARCHAEOLOGICALDOC" name="av_ARCHAEOLOGICALDOC" class="formSpace" style="width:75px;">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                    <option value="2">Unknown</option>
             </select><br />
                

            <label>Comments: </label><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_ARCHAEOLOGICALDOCNOTES" name="av_ARCHAEOLOGICALDOCNOTES" class="formSpace" ></textarea><br />

            <label>Additional managment information/comments: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_MANAGEMENTCOMMENTS" name="av_MANAGEMENTCOMMENTS" class="formSpace" ></textarea><br />

            <label>Location of existing collections: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_COLLECTIONSLOCATION" name="av_COLLECTIONSLOCATION" class="formSpace" ></textarea><br />

            <label>Location of photographs: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_PHOTOLOCATION" name="av_PHOTOLOCATION" class="formSpace" ></textarea><br />

            <label>Location of special samples: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_SAMPLELOCATION" name="av_SAMPLELOCATION" class="formSpace" ></textarea><br />

            <label>Types of special samples: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_SAMPLETYPE" name="av_SAMPLETYPE" class="formSpace" ></textarea><br />
            
        </div>

            <div id="av_navBar" class="navBar" >
                <div id="av_btnBack" class="toolbarButton" data-action="back">Back</div>
                <span id="av_pages">1 of 6</span>
                <div id="av_btnNext" class="toolbarButton" data-action="next">Next</div>
            </div>

            </div> <!--Site Form-->
             <br />
             <div class='toolPanel attachForm'><span class="header">Attachments</span> 
            <div id="av_v2_attachment" style="margin-left: 5px; width: 100%"></div>
        </div>
       

        </div> <!--Page Container-->
            
	</div>
    <div id="av_view_3" data-dojo-attach-point="av_view_3" class="viewPane hidePage">
        <div id="av_loadingOverlay" class="loadingOverlay pageOverlay">
            <div id="av_loadingMessage" class="loadingMessage">Loading...</div>
        </div>
    </div>
    <div id="av_view_4" data-dojo-attach-point="av_view_4" class="viewPane hidePage">
        <span>Are you sure you want to delete this draft site?</span>
        <div>
            <div id="av_v4_btnDeleteSite" class='toolbarButton' title='Delete'>Delete</div>
            <div id="av_v4_btnCancel" class='toolbarButton' title='Cancel'>Cancel</div>
        </div>
    </div>
    <div id="av_view_5" data-dojo-attach-point="av_view_5" class="viewPane hidePage">
        <div id="av_v5_btnGeoSearch" class='toolbarButton' title='Select Site by Point'>Select Site by Point</div>
        <div id="av_v5_btnCancel" class='toolbarButton' title='Cancel'>Cancel</div>

        <div><label>Search by Site Number: </label><input data-dojo-type="dijit/form/TextBox" id="av_attrSearch" name="av_attrSearch" data-dojo-attach-event='onKeyUp: attributeSearch' data-dojo-props="placeHolder:'Enter Site Number'" />
        </div>
        <div id="av_v_5_av_pg_1" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="v_5_av_pg_1" style="overflow: auto; width: 325px; height: 300px;">
            <div data-dojo-attach-point="av_searchList" id="av_searchList" style="margin-top: 30px; margin-left: 5px;"></div>
        </div>
        
    </div>
    <div id="av_view_6" data-dojo-attach-point="av_view_6" class="viewPane hidePage">
        <div>
        <div id="av_v6_btnBackForm" class='toolbarButton right' title='Back to Form'>Back to Form</div>
  </div>
        <div class="errorTitle">Validation Errors</div>
        
        <div id="av_v_6_errors" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="v_6_errors" style="overflow: auto; width: 325px; height: 300px;">
            
        </div>
    </div>
    <div id="av_view_7" data-dojo-attach-point="av_view_7" class="viewPane hidePage">
        
        <span id="av_v_7_message"></span>
        <br />
        <div id="av_v_7_btn" class='toolbarButton' title='Back to Form'>Back to Form</div>
    </div>
    <div id="av_view_8" data-dojo-attach-point="av_view_8" class="viewPane hidePage">
        <span>Are you sure you want to publish this site to SCIAA?  Once you publish, you will be unable to make additional changes.</span>
        <div>
            <div id="av_v_8_btnYes" class='toolbarButton' title='Yes'>Yes</div>
            <div id="av_v_8_btnNo" class='toolbarButton' title='No'>No</div>
        </div>
    </div>
    <div id="av_view_9" data-dojo-attach-point="av_view_9" class="viewPane">
        <div id="av_v9_toolbar">
            <div data-menu="addsite" class='editToolButton btnAddSiteIcon' title='Add Site'></div>
            <div data-menu="addrevisit" class='editToolButton btnRevisitIcon' title='Add Revisit'></div>
            <div data-menu="editsites" class='editToolButton btnEditSiteIcon' title='Edit Sites'></div>
            <div data-menu="approvesites" class='editToolButton btnApproveIcon' title='Approve Sites'></div>
		</div>

        <div class="padContainer">
        <div class="cfgMenu">
            <span tabindex="0" data-layer="waiting" class="mapButton buttonLeft buttonSelected" title="Waiting">Approval List</span> 
        </div>
        <div class="Pad ">
        <div class="clear"></div>

            <div class="cfgPanel" data-layer="waiting" style="display: block;">
                <div data-dojo-attach-point="av_v_9_waitDiv" id="av_v_9_waitDiv" style="margin-top: 5px; margin-left: 0px;"></div>

            </div>

        </div>
            <div id="av_v9_btnCommit" class='toolbarButton' title="Commit Changes">Commit Changes</div>
        </div>
    </div>
    <div id="av_view_10" data-dojo-attach-point="av_view_10" class="viewPane hidePage">
        <div id='av_v10_btnBack' class='toolbarButton' title='Back'>Back</div>

        <div style="margin: 15px 2px;">

        <label>Date Entered in DB: </label><input data-dojo-type="dijit/form/DateTextBox" id="av_SITEENTEREDINDBDATE" name="av_SITEENTEREDINDBDATE" style="margin:5px;width:150px;" /><br />
        
        <div id='av_v10_btnSiteform' class='toolbarButton' title='Site Form'>Site Form</div><br />

        <label>Site Number: </label><input data-dojo-type="dijit/form/TextBox" id="av_SITENUMBER" name="av_SITENUMBER" class="formSpace"  /><br />
        <label>Site ID: </label><input data-dojo-type="dijit/form/TextBox" id="av_SITEID" name="av_SITEID" class="formSpace"  /><br />

        <label>Comments: </label><br /><textarea data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" id="av_v10_APPCOMMENTS" name="av_v10_APPCOMMENTS" style="width:200px;height:60px;margin:5px;"></textarea><br />

        <div id='av_v10_btnApprove' class='toolbarButton' title='Approve'>Approve</div>
        <div id='av_v10_btnReject' class='toolbarButton' title='Reject'>Reject</div>
        </div>

    </div>
    <div id="av_view_11" data-dojo-attach-point="av_view_11" class="viewPane hidePage">
        <span id="av_v_11_msg"></span>
        <div>
            <div id="av_v_11_btnCreate" class='toolbarButton' title='Create New'>Create New</div>
            <div id="av_v_11_btnCancel" class='toolbarButton' title='Cancel'>Cancel</div>
        </div>
        <div class="padContainer">
        <div class="Pad ">
            <div class="cfgPanel" style="display: block;">
                <div data-dojo-attach-point="av_v_11_revistList" id="av_v_11_revistList" style="margin-top: 5px;"></div>

            </div>

        </div>
        </div>
    </div>
</div>
