USE [ArchSiteDB]
GO
ALTER TABLE [dbo].[aspnet_Users] DROP CONSTRAINT [FK__aspnet_Us__Appli__4D94879B]
GO
/****** Object:  Index [PK__aspnet_U__1788CC4DBE84A639]    Script Date: 4/23/2015 6:30:24 PM ******/
ALTER TABLE [dbo].[aspnet_Users] DROP CONSTRAINT [PK__aspnet_U__1788CC4DBE84A639]
GO
/****** Object:  Table [dbo].[UserAccountInfo]    Script Date: 4/23/2015 6:30:24 PM ******/
DROP TABLE [dbo].[UserAccountInfo]
GO
/****** Object:  Table [dbo].[aspnet_Users]    Script Date: 4/23/2015 6:30:24 PM ******/
DROP TABLE [dbo].[aspnet_Users]
GO
/****** Object:  Table [dbo].[aspnet_Users]    Script Date: 4/23/2015 6:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Users](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[UserName] [nvarchar](256) NOT NULL,
	[LoweredUserName] [nvarchar](256) NOT NULL,
	[MobileAlias] [nvarchar](16) NULL DEFAULT (NULL),
	[IsAnonymous] [bit] NOT NULL DEFAULT ((0)),
	[LastActivityDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAccountInfo]    Script Date: 4/23/2015 6:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccountInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNum] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Organization] [nvarchar](250) NOT NULL,
	[AccessLevel] [nvarchar](15) NOT NULL,
	[ApprovalStatus] [nvarchar](3) NOT NULL,
	[ExportData] [nvarchar](3) NOT NULL,
	[SignUpDate] [date] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[aspnet_Users] ([ApplicationId], [UserId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) VALUES (N'c2a3f809-bb9d-4750-8042-92333cec44b4', N'8a924bbb-364f-4081-be18-6e9742d5f3a8', N'1ccantley', N'1ccantley', NULL, 0, CAST(N'2013-02-07 16:43:57.000' AS DateTime))
GO
INSERT [dbo].[aspnet_Users] ([ApplicationId], [UserId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) VALUES (N'c2a3f809-bb9d-4750-8042-92333cec44b4', N'fa773bc1-7453-4662-99c2-b5a67f41d42c', N'1Mincey', N'1mincey', NULL, 0, CAST(N'2013-02-07 16:45:49.000' AS DateTime))
GO
INSERT [dbo].[aspnet_Users] ([ApplicationId], [UserId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) VALUES (N'c2a3f809-bb9d-4750-8042-92333cec44b4', N'1b46e461-f626-4b11-b269-4f30217ca130', N'33zdas33', N'33zdas33', NULL, 0, CAST(N'2013-02-07 16:47:48.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserAccountInfo] ON 

GO
INSERT [dbo].[UserAccountInfo] ([ID], [UserName], [FirstName], [LastName], [PhoneNum], [Email], [Organization], [AccessLevel], [ApprovalStatus], [ExportData], [SignUpDate]) VALUES (1, N'liu', N'Shufan', N'Liu', N'803-777-6048', N'liu49@email.sc.edu', N'Univ. of South Carolina', N'subscriber', N'Yes', N'No', CAST(N'2014-08-08' AS Date))
GO
INSERT [dbo].[UserAccountInfo] ([ID], [UserName], [FirstName], [LastName], [PhoneNum], [Email], [Organization], [AccessLevel], [ApprovalStatus], [ExportData], [SignUpDate]) VALUES (15, N'archsite_dev', N'Archsite', N'Developer', N'555-555-5555', N'etbramble@hotmail.com', N'USC', N'pending', N'Yes', N'No', CAST(N'2015-04-23' AS Date))
GO
INSERT [dbo].[UserAccountInfo] ([ID], [UserName], [FirstName], [LastName], [PhoneNum], [Email], [Organization], [AccessLevel], [ApprovalStatus], [ExportData], [SignUpDate]) VALUES (3, N'sccolin', N'Colin', N'Cuskley', N'843-637-4160', N'colin@jicsc.org', N'Johns Island Conservancy', N'pending', N'Yes', N'No', CAST(N'2014-10-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[UserAccountInfo] OFF
GO
/****** Object:  Index [PK__aspnet_U__1788CC4DBE84A639]    Script Date: 4/23/2015 6:30:25 PM ******/
ALTER TABLE [dbo].[aspnet_Users] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aspnet_Users]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
