<div id="dex_containerNode" class="dataExport">
    <div id="dex_view_1" class="viewPane">
        <div class="atPanel">
            <div class="label" style="color:black;">Select the layers you want to export:</div>
            <div class='layerList'>
                <ul id="dex_LayerSelectBoxes"></ul>
            </div>
        </div>
        <div class="atPanel">
            <span>Selection Method:</span><br />
           <div><input id="dex_rbCurExt" type="radio" name="radExtent" value="CurExt" checked> Current Extent</div>
            <div>
                <div>
                    <input id="dex_rbPoly" type="radio" name="radExtent" value="DrawPoly">
                    &nbsp;Draw Polygon
                </div>
                <div id="dex_btnExtractArea" class="attrButton selExtractArea"></div>
            </div>
        </div>
        <div class="atPanel">
            <span>Output Type:  </span>
            <select id="dex_selOutputType">
                <option value="ShapeFile ">Shapefile</option>
                <option value="CSV">CSV</option>
                <option value="FileGeodatabase">File Geodatabase</option>
                <option value="KML">KML</option>
            </select>
        </div>
        <div>
            <div id="dex_scaleWarning" class="hidePane">Please zoom in on map</div>
            <div id="dex_btnSubmit" class="toolbarButton sideButton right" style="height:28px;">Export Data</div>
        </div>
        <div style="clear: both;"></div>
        <div id="dex_btnResults" style="font-size:8pt;"><a href="#">Export Results</a></div>
    </div>

    <div id="dex_view_2" class="viewPane hidePane" >
        <div style="padding-left:10px;">
            <a id="dex_exportLink3">Back to Export Data</a>
            <br />
            <div class="printLoading">
                <div class="printLoadingGraphic"></div>
                <div class="printLoadingText">&nbsp;&nbsp;Generating export, please wait...</div>
            </div>
        </div>
    </div>

    <div id="dex_view_3" class="viewPane hidePane">
        <a id="dex_exportLink2">Back to Export Data</a>
        <div style="height:15px;"></div>
        <span>Export Results:</span><br />
        <div id="dex_pdfLink"></div>
    </div>

    <div id="dex_view_4" class="viewPane hidePane">
        <span>There has been an error.  Please try again.</span><br />
        
        <a id="dex_exportLink">Export Data</a>
    </div>
</div>


