<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <ul>
    <li><a href="Account/register.aspx">Create Account</a></li>
    <li><a href="Account/chanePassword.aspx">Create Account</a></li>
    <li><a href="userDoc.aspx">User Documentation</a></li>
    <li><a href="overview.aspx">Subscription Overview</a></li>
    <li><a href="http://archsite.cas.sc.edu/sciaainfo/ArchSite%20Subscription%20Request%20Form%20&%20License%20Agreement2.pdf" target="_blank">License Agreement</a></li>
    <li><a href="disclaimers.aspx">Disclaimers</a></li>
    <li><a href="Administration/ManageRoles.aspx">Administration</a>
        <ul>
            <li><a href="Administration/ManageRoles.aspx"><span> &#8212 </span>Manage Roles</a></li>
            <li><a href="Administration/ManageUsers.aspx"><span> &#8212 </span>Manage Users</a></li>
            <li><a href="Administration/Role-BasedAuthorization.aspx"><span> &#8212 </span>Role-Based Authorization</a></li>
            <li><a href="Administration/UsersAndRoles.aspx"><span> &#8212 </span>User Role Management</a></li>
            <li><a href="Administration/CreateUserWizardWithRoles.aspx"><span> &#8212 </span>Create Account Wizard</a></li>
        </ul>
    </li>
    <li><a href="about.aspx">About</a></li>
</ul>


<!--    <ul>
        <li><a href="<%= ResolveUrl("~/Account/register.aspx") %>" >Create Account</a></li>
        <li><a href="<%= ResolveUrl("userDoc/#.aspx") %>" >User Documentation</a></li>
        <li><a href="<%= ResolveUrl("~/overview.aspx") %>" >Subscription Overview</a></li>
        <li><a href="http://archsite.cas.sc.edu/sciaainfo/ArchSite%20Subscription%20Request%20Form%20&%20License%20Agreement2.pdf" target="_blank">License Agreement</a></li>
        <li><a href="<%= ResolveUrl("~/disclaimers.aspx") %>" >Disclaimers</a></li>
        <li><a href="<%= ResolveUrl("~/Administration/ManageRoles.aspx") %>" >Administration</a>
            <ul>
                <li><span> &#8212 </span><a href="<%= ResolveUrl("~/Administration/ManageRoless.aspx") %>" >Manage Roles</a></li>
                <li><span> &#8212 </span><a href="<%= ResolveUrl("~/Administration/ManageUsers.aspx") %>" >Manage Users</a></li>
                <li><span> &#8212 </span><a href="<%= ResolveUrl("~/Administration/Role-BasedAuthorization.aspx") %>" >Role-Based Authorization</a></li>
                <li><span> &#8212 </span><a href="<%= ResolveUrl("~/Administration/UsersAndRoles.aspx") %>" >User Role Management</a></li>
                <li><span> &#8212 </span><a href="<%= ResolveUrl("~/Administration/CreateUserWizardWithRoles.aspx") %>" >>Create Account Wizard</a></li>
            </ul>
        </li>
        <li><a href="<%= ResolveUrl("~/about.aspx") %>" id ="current">About</a></li>
    </ul>-->

<div style="position:absolute;filter:alpha(opacity=0);opacity:0.001;z-index:10;">                                                                                                                                                                                                                  </div></body>
</html>
