<div id="scaleContainerNode" class="scaleSelector">
    <div class="selectorContainer">
        <div class="scaleBox" data-dojo-attach-point="scaleBox">
            <div title="" tabindex="0" class=" scaleBoxSearch selectorIcon" data-dojo-attach-point="submitNode" data-dojo-attach-event="ondijitclick:toggleDropDownList"></div>
            <input id="select_input" tabindex="0" disabled="disabled" placeholder="" value="" type="text" data-dojo-attach-point="inputNode">
            <div class="clearFloat"></div>
        </div>

        <div class="scaleList" data-dojo-attach-point="resultsNode"></div>
    </div>
</div>