/* 
  -----------------------------------
  Horizontal Scroller Magic
  by Project Seven Development
  www.projectseven.com
  Style Theme: 01 - Aero
  -----------------------------------
*/
.p7HSM_showall {
	color: #006666;
}
.p7HSM_showall:hover {
	color: #999999;
}
.p7HSM01 {
	border: 1px solid #333333;
}
/* viewport div */
.p7HSM01 .p7HSM_vp_wrapper {
	border: 0;
}
.p7HSM01 .p7HSM_vp {
	position: relative;
	border: 0;
	width: 100%;
}
/* scrolling div */
.p7HSM01 .p7HSM_sc {
	position: relative;
	left: 0px;
	height: 60px;
}
/* content div */
.p7HSM01 .p7HSM_content {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 3px;
	width: 1614px;
}
.p7HSM01 .p7HSM_content p {
	margin: 0;
}
.p7HSM01 .p7HSM_content img {
	float: left;
	margin-left: 3px;
}
/*Wrapper for all tools*/
.p7HSM01 .p7HSMdragchannel {
	background-image: url(img/p7HSM01_dbbg.gif);
	background-repeat: repeat-x;
	width: 100%;
	display:none;
}
.p7HSM01 .p7HSMdragchannel em {
	display: none;
}
/*First Buttom*/
.p7HSM01 .p7HSMdragchannel .toolbar_left {
	width: 24px;
	float: left;
	height: 20px;
}
.p7HSM01 .p7HSMdragchannel .scroll_left {
	float: left;
	width: 12px;
}
.p7HSM01 .p7HSMdragchannel .scroll_left a {
	background-image: url(img/p7HSM01_dbleft.gif);
	background-repeat: no-repeat;
	display: block;
	height: 10px;
	width: 12px;
}
/*SECOND BUTTON*/
.p7HSM01 .p7HSMdragchannel .pauseplay {
	width: 12px;
	float: left;
}
.p7HSM01 .p7HSMdragchannel .pause {
	background-image: url(img/p7HSM01_psplay.gif);
	background-repeat: no-repeat;
	display: block;
	height: 10px;
	width: 12px;
}
.p7HSM01 .p7HSMdragchannel .play {
	background-image: url(img/p7HSM01_psplay.gif);
	background-repeat: no-repeat;
	display: block;
	height: 10px;
	width: 12px;
	background-position: 0px -20px;
}
/*Drag Bar and Button*/
.p7HSM01 .dragbar {
	position: relative;
	float: left;
	z-index: 1;
	height: 10px;
}
.p7HSM01 .dragbutton {
	position: absolute;
	z-index: 2;
	height: 10px;
}
.p7HSM01 .dragbutton a {
	background-image: url(img/p7HSM01_dbdrag.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 62px;
	display: block;
}
/*Third Button*/
.p7HSM01 .p7HSMdragchannel .toolbar_right {
	float: right;
	width: 12px;
}
.p7HSM01 .p7HSMdragchannel .scroll_right {
	width: 12px;
	float: right;
}
.p7HSM01 .p7HSMdragchannel .scroll_right a {
	background-image: url(img/p7HSM01_dbright.gif);
	background-repeat: no-repeat;
	display: block;
	height: 10px;
	width: 12px;
}
/*Toolbar Hover classes*/
.p7HSM01 .p7HSMdragchannel .scroll_left a:hover, .p7HSM01 .p7HSMdragchannel .scroll_right a:hover, .p7HSM01 .p7HSMdragchannel .pause:hover, .p7HSM01 .dragbutton a:hover {
	background-position: 0px -10px;
}
.p7HSM01 .p7HSMdragchannel .play:hover {
	background-position: 0px -20px;
}
.p7HSM01 .clearfloats {
	display: block;
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
.p7HSM_sc table {
	table-layout:auto;
}
.p7HSM01 td {
	border: 0 !important;
}
